<%- include('partials/header', {title:"Create Opponent"}) -%>

<h2>Create a New Opponent!</h2>

<form action="/createRecipe" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="recipeName" value=""><br>
  <label for="photo">Link to Photo:</label>
  <input type="text" id="photo" name="recipePhoto" value=""><br>
  <br></br>
  <%for(let i = 1; i <21; i++){%>
    <label for=<%="ingredient" + i.toString()%>><%="Ingredient " + i.toString()%></label>
    <input type="text" id = <%="ingredient" + i.toString()%> name=<%="ingredient" + i.toString()%> value=""><br>
  <%}%>
  <br><br>
  <input type="submit" value="Create a new opponent!">
</form>

<%- include('partials/footer') -%>