<%- include('partials/header', {title:"Recipe Details"}) -%>

<div class="text-center">
<h2>Recipe - <%=recipe.recipeName%></h2>

<img src="<%=recipe.recipeImage%>" height=150>

<table>
  <tr>
    <th>
      Name:
    </th>
    <td>
      <%=recipe.recipeName%>
      <%console.log(recipe)%>
    </td>
  </tr>
  <tr>
    <th>
      Author:
    </th>
    <td>
      <%=recipe.recipeAuthor%>
    </td>
  </tr>
  <tr>
    <th>
      Cook Time:
    </th>
    <td>
      <%=recipe.recipeTime%>
    </td>
  </tr>
</table>
<br>
<h3>Ingredients</h3><br>

<center>
  <ul class = "recipeDetails">
<%for(let i in recipe.recipeIngredientNames){%>
 
  <%if(recipe.recipeIngredientNames[i].toString() != "" && recipe.recipeIngredientQuantities[i].toString() != ""){%>
    <div class = "container mx-auto">
  <li><%=recipe.recipeIngredientNames[i].toString() + " – " + recipe.recipeIngredientQuantities[i].toString()%></li>
  <br>
</div>  

  <%}}%>
  

</ul>
</center>
<br>
<h3>Steps</h3><br>
<%let recipeStepsSplit = recipe.recipeSteps.split('\r\n');%>
<div class = "container">
<ol class = "recipeDetails">
<%for(let i of recipeStepsSplit){%>
  <li><%=i.toString()%></li>
<%}%>
</ol>
</div>
<br>
<h3>Comments</h3>
<form action="/createComment" method="POST">
  <label for="name">Your Name:</label>
  <input type="text" id="name" name="name" value="">

  <label for="rating">Rating:</label>
  <select name="rating" id="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select><br>
  <input type="hidden" id="recipeName" name="recipeName" value=<%=recipe.recipeName%>>
  <label for="review">Your Review:</label><br>
  <textarea name="review" id = "review" rows="3" cols="30"></textarea><br>

  <input type="submit" value="Submit Comment">
</form>
</div>
<br>
<%for(comment in comments[recipe.recipeName]){%>
  <%console.log(comments[recipe.recipeName][comment])%>
  <center>
  <table>
    <tr>
      <td><b><%=comments[recipe.recipeName][comment].name%></b></td>
      <td><%=comments[recipe.recipeName][comment].rating%></td>
    </tr>
    <tr>
      <td colspan="2"><%=comments[recipe.recipeName][comment].review%></td>
    </tr>
  </table>
  </center>
  <br>
<%}%>

<%- include('partials/footer') -%>