<%- include('partials/header', {title:"Recipe Details"}) -%>

<h2>Recipe - <%=recipe.recipeName%></h2>

<img src="<%=recipe.recipePhoto%>" height=150 />

<table>
  <tr>
    <th>
      Name:
    </th>
    <td>
      <%=recipe.recipeName%>
    </td>
  </tr>
  <tr>
    <th>
      Author:
    </th>
    <td>
      <%=recipe.recipeAuthor%>
    </td>
  </tr>
  <tr>
    <th>
      Cook Time:
    </th>
    <td>
      <%=recipe.recipeTime%>
    </td>
  </tr>
</table>

<%- include('partials/footer') -%>