<%- include('partials/header', {title:"Recipe Details"}) -%>

<h2>Recipe - <%=recipe.recipeName%></h2>

<img src="<%=recipe.recipePhoto%>" height=150 />

<table>
  <tr>
    <th>
      Name:
    </th>
    <td>
      <%=recipe.recipeName%>
    </td>
  </tr>
  <tr>
    <th>
      Author:
    </th>
    <td>
      <%=recipe.recipeAuthor%>
    </td>
  </tr>
  <tr>
    <th>
      Cook Time:
    </th>
    <td>
      <%=recipe.recipeTime%>
    </td>
  </tr>
</table>
<form action="/createComment" method="POST">
  <label for="name">Your Name:</label>
  <input type="text" id="name" name="name" value="">

  <label for="rating">Rating:</label>
  <select name="rating" id="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select><br>
  <input type="hidden" id="recipeName" name="recipeName" value=<%=recipe.recipeName%>>
  <label for="review">Your Review:</label><br>
  <textarea name="review" id = "review" rows="3" cols="30"></textarea><br>

  <input type="submit" value="Submit Comment">
</form>
<br>
<%for(comment in comments[recipe.recipeName]){%>
  <%console.log(comments[recipe.recipeName][comment])%>
  <table>
    <tr>
      <td><%=comments[recipe.recipeName][comment].name%></td>
      <td><%=comments[recipe.recipeName][comment].rating%></td>
    </tr>
    <tr>
      <td colspan="2"><%=comments[recipe.recipeName][comment].review%></td>
    </tr>
  </table>
  <br>
<%}%>

<%- include('partials/footer') -%>